<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
</head>
<body>
    <div id="membership"></div>
</body>
<script type="text/javascript">
    function add_node(address) {
        return "<div id="+address+"><p>"+
        address+"</p><p id="+address+"_status></p><p id="+
        address+"_list></p></div>";
    }
    function update_list(json) {

    }
    var getting = {
        url: "/membership",
        type: "GET",
        dataType: "json",
        success: function(result) {
            var div = $("#membership");
            if (div.children().length == 0) {
                $.each(result, function(i, item) {
                    div.append(add_node(item.Membership.Address));
                });
            }
            $.each(result, function(i, item) {
                $("#"+item.Membership.Address+"_status").html(JSON.stringify(item.IsBad));
                $("#"+item.Membership.Address+"_list").html(JSON.stringify(item.Membership.MembershipList));
            });
        }
    };
    window.setInterval(function(){$.ajax(getting)},1000);
</script>
</html>